<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suneee.ep.base.dao.ExchangeMapper" >
  <resultMap id="BaseResultMap" type="com.suneee.ep.base.model.Exchange" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ITEM_PAY" property="itemPay" jdbcType="VARCHAR" />
    <result column="WHO_PAY" property="whoPay" jdbcType="VARCHAR" />
    <result column="POST_FEE" property="postFee" jdbcType="NUMERIC" />
    <result column="WL_NO" property="wlNo" jdbcType="VARCHAR" />
    <result column="WL_NAME" property="wlName" jdbcType="VARCHAR" />
    <result column="POST_TIME" property="postTime" jdbcType="TIMESTAMP" />
    <result column="TID" property="tid" jdbcType="VARCHAR" />
    <result column="SEND_WL_NAME" property="sendWlName" jdbcType="VARCHAR" />
    <result column="SEND_POST_FEE" property="sendPostFee" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, REMARK, ITEM_PAY, WHO_PAY, POST_FEE, WL_NO, WL_NAME, POST_TIME, TID, SEND_WL_NAME, 
    SEND_POST_FEE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from WTC_SH_EXCHANGE_T
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from WTC_SH_EXCHANGE_T
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.suneee.ep.base.model.Exchange" >
    insert into WTC_SH_EXCHANGE_T (ID, CODE, REMARK, 
      ITEM_PAY, WHO_PAY, POST_FEE, 
      WL_NO, WL_NAME, POST_TIME, 
      TID, SEND_WL_NAME, SEND_POST_FEE
      )
    values (#{id,jdbcType=NUMERIC}, #{code,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{itemPay,jdbcType=VARCHAR}, #{whoPay,jdbcType=VARCHAR}, #{postFee,jdbcType=NUMERIC}, 
      #{wlNo,jdbcType=VARCHAR}, #{wlName,jdbcType=VARCHAR}, #{postTime,jdbcType=TIMESTAMP}, 
      #{tid,jdbcType=VARCHAR}, #{sendWlName,jdbcType=VARCHAR}, #{sendPostFee,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suneee.ep.base.model.Exchange" >
    insert into WTC_SH_EXCHANGE_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="itemPay != null" >
        ITEM_PAY,
      </if>
      <if test="whoPay != null" >
        WHO_PAY,
      </if>
      <if test="postFee != null" >
        POST_FEE,
      </if>
      <if test="wlNo != null" >
        WL_NO,
      </if>
      <if test="wlName != null" >
        WL_NAME,
      </if>
      <if test="postTime != null" >
        POST_TIME,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="sendWlName != null" >
        SEND_WL_NAME,
      </if>
      <if test="sendPostFee != null" >
        SEND_POST_FEE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemPay != null" >
        #{itemPay,jdbcType=VARCHAR},
      </if>
      <if test="whoPay != null" >
        #{whoPay,jdbcType=VARCHAR},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=NUMERIC},
      </if>
      <if test="wlNo != null" >
        #{wlNo,jdbcType=VARCHAR},
      </if>
      <if test="wlName != null" >
        #{wlName,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="sendWlName != null" >
        #{sendWlName,jdbcType=VARCHAR},
      </if>
      <if test="sendPostFee != null" >
        #{sendPostFee,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suneee.ep.base.model.Exchange" >
    update WTC_SH_EXCHANGE_T
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemPay != null" >
        ITEM_PAY = #{itemPay,jdbcType=VARCHAR},
      </if>
      <if test="whoPay != null" >
        WHO_PAY = #{whoPay,jdbcType=VARCHAR},
      </if>
      <if test="postFee != null" >
        POST_FEE = #{postFee,jdbcType=NUMERIC},
      </if>
      <if test="wlNo != null" >
        WL_NO = #{wlNo,jdbcType=VARCHAR},
      </if>
      <if test="wlName != null" >
        WL_NAME = #{wlName,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        POST_TIME = #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tid != null" >
        TID = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="sendWlName != null" >
        SEND_WL_NAME = #{sendWlName,jdbcType=VARCHAR},
      </if>
      <if test="sendPostFee != null" >
        SEND_POST_FEE = #{sendPostFee,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suneee.ep.base.model.Exchange" >
    update WTC_SH_EXCHANGE_T
    set CODE = #{code,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ITEM_PAY = #{itemPay,jdbcType=VARCHAR},
      WHO_PAY = #{whoPay,jdbcType=VARCHAR},
      POST_FEE = #{postFee,jdbcType=NUMERIC},
      WL_NO = #{wlNo,jdbcType=VARCHAR},
      WL_NAME = #{wlName,jdbcType=VARCHAR},
      POST_TIME = #{postTime,jdbcType=TIMESTAMP},
      TID = #{tid,jdbcType=VARCHAR},
      SEND_WL_NAME = #{sendWlName,jdbcType=VARCHAR},
      SEND_POST_FEE = #{sendPostFee,jdbcType=NUMERIC}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>