<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suneee.ep.base.dao.ReceiptDetailMapper" >
  <resultMap id="BaseResultMap" type="com.suneee.ep.base.model.ReceiptDetail" >
    <id column="RECORD_ID" property="recordId" jdbcType="NUMERIC" />
    <result column="RID" property="rid" jdbcType="VARCHAR" />
    <result column="SKU_CODE" property="skuCode" jdbcType="VARCHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="NUMERIC" />
    <result column="ITEM_STYLE" property="itemStyle" jdbcType="VARCHAR" />
    <result column="RESON_CODE" property="resonCode" jdbcType="VARCHAR" />
    <result column="REAL_QUANTITY" property="realQuantity" jdbcType="NUMERIC" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ITEM_WHO_PAY" property="itemWhoPay" jdbcType="VARCHAR" />
    <result column="POST_WHO_PAY" property="postWhoPay" jdbcType="VARCHAR" />
    <result column="CONFIRM_CODE" property="confirmCode" jdbcType="VARCHAR" />
    <result column="CONFIRM_RESON" property="confirmReson" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="NUMERIC" />
    <result column="UNIT_ID" property="unitId" jdbcType="NUMERIC" />
    <result column="PARENT_UNIT_ID" property="parentUnitId" jdbcType="NUMERIC" />
    <result column="PROMOTION_PARENT_ID" property="promotionParentId" jdbcType="NUMERIC" />
    <result column="ORIGEIN_PRICE" property="origeinPrice" jdbcType="NUMERIC" />
    <result column="ACTUAL_PRICE" property="actualPrice" jdbcType="NUMERIC" />
    <result column="LINE_AMOUNT" property="lineAmount" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECORD_ID, RID, SKU_CODE, QUANTITY, ITEM_STYLE, RESON_CODE, REAL_QUANTITY, STATUS, 
    ITEM_WHO_PAY, POST_WHO_PAY, CONFIRM_CODE, CONFIRM_RESON, MEMO, PRICE, UNIT_ID, PARENT_UNIT_ID, 
    PROMOTION_PARENT_ID, ORIGEIN_PRICE, ACTUAL_PRICE, LINE_AMOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from WTC_RECEIPT_DETAIL_T
    where RECORD_ID = #{recordId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from WTC_RECEIPT_DETAIL_T
    where RECORD_ID = #{recordId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.suneee.ep.base.model.ReceiptDetail" >
    insert into WTC_RECEIPT_DETAIL_T (RECORD_ID, RID, SKU_CODE, 
      QUANTITY, ITEM_STYLE, RESON_CODE, 
      REAL_QUANTITY, STATUS, ITEM_WHO_PAY, 
      POST_WHO_PAY, CONFIRM_CODE, CONFIRM_RESON, 
      MEMO, PRICE, UNIT_ID, 
      PARENT_UNIT_ID, PROMOTION_PARENT_ID, ORIGEIN_PRICE, 
      ACTUAL_PRICE, LINE_AMOUNT)
    values (#{recordId,jdbcType=NUMERIC}, #{rid,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=NUMERIC}, #{itemStyle,jdbcType=VARCHAR}, #{resonCode,jdbcType=VARCHAR}, 
      #{realQuantity,jdbcType=NUMERIC}, #{status,jdbcType=VARCHAR}, #{itemWhoPay,jdbcType=VARCHAR}, 
      #{postWhoPay,jdbcType=VARCHAR}, #{confirmCode,jdbcType=VARCHAR}, #{confirmReson,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{price,jdbcType=NUMERIC}, #{unitId,jdbcType=NUMERIC}, 
      #{parentUnitId,jdbcType=NUMERIC}, #{promotionParentId,jdbcType=NUMERIC}, #{origeinPrice,jdbcType=NUMERIC}, 
      #{actualPrice,jdbcType=NUMERIC}, #{lineAmount,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.suneee.ep.base.model.ReceiptDetail" >
    insert into WTC_RECEIPT_DETAIL_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        RECORD_ID,
      </if>
      <if test="rid != null" >
        RID,
      </if>
      <if test="skuCode != null" >
        SKU_CODE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="itemStyle != null" >
        ITEM_STYLE,
      </if>
      <if test="resonCode != null" >
        RESON_CODE,
      </if>
      <if test="realQuantity != null" >
        REAL_QUANTITY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="itemWhoPay != null" >
        ITEM_WHO_PAY,
      </if>
      <if test="postWhoPay != null" >
        POST_WHO_PAY,
      </if>
      <if test="confirmCode != null" >
        CONFIRM_CODE,
      </if>
      <if test="confirmReson != null" >
        CONFIRM_RESON,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="unitId != null" >
        UNIT_ID,
      </if>
      <if test="parentUnitId != null" >
        PARENT_UNIT_ID,
      </if>
      <if test="promotionParentId != null" >
        PROMOTION_PARENT_ID,
      </if>
      <if test="origeinPrice != null" >
        ORIGEIN_PRICE,
      </if>
      <if test="actualPrice != null" >
        ACTUAL_PRICE,
      </if>
      <if test="lineAmount != null" >
        LINE_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=NUMERIC},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="itemStyle != null" >
        #{itemStyle,jdbcType=VARCHAR},
      </if>
      <if test="resonCode != null" >
        #{resonCode,jdbcType=VARCHAR},
      </if>
      <if test="realQuantity != null" >
        #{realQuantity,jdbcType=NUMERIC},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="itemWhoPay != null" >
        #{itemWhoPay,jdbcType=VARCHAR},
      </if>
      <if test="postWhoPay != null" >
        #{postWhoPay,jdbcType=VARCHAR},
      </if>
      <if test="confirmCode != null" >
        #{confirmCode,jdbcType=VARCHAR},
      </if>
      <if test="confirmReson != null" >
        #{confirmReson,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=NUMERIC},
      </if>
      <if test="parentUnitId != null" >
        #{parentUnitId,jdbcType=NUMERIC},
      </if>
      <if test="promotionParentId != null" >
        #{promotionParentId,jdbcType=NUMERIC},
      </if>
      <if test="origeinPrice != null" >
        #{origeinPrice,jdbcType=NUMERIC},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=NUMERIC},
      </if>
      <if test="lineAmount != null" >
        #{lineAmount,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suneee.ep.base.model.ReceiptDetail" >
    update WTC_RECEIPT_DETAIL_T
    <set >
      <if test="rid != null" >
        RID = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        SKU_CODE = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="itemStyle != null" >
        ITEM_STYLE = #{itemStyle,jdbcType=VARCHAR},
      </if>
      <if test="resonCode != null" >
        RESON_CODE = #{resonCode,jdbcType=VARCHAR},
      </if>
      <if test="realQuantity != null" >
        REAL_QUANTITY = #{realQuantity,jdbcType=NUMERIC},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="itemWhoPay != null" >
        ITEM_WHO_PAY = #{itemWhoPay,jdbcType=VARCHAR},
      </if>
      <if test="postWhoPay != null" >
        POST_WHO_PAY = #{postWhoPay,jdbcType=VARCHAR},
      </if>
      <if test="confirmCode != null" >
        CONFIRM_CODE = #{confirmCode,jdbcType=VARCHAR},
      </if>
      <if test="confirmReson != null" >
        CONFIRM_RESON = #{confirmReson,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=NUMERIC},
      </if>
      <if test="unitId != null" >
        UNIT_ID = #{unitId,jdbcType=NUMERIC},
      </if>
      <if test="parentUnitId != null" >
        PARENT_UNIT_ID = #{parentUnitId,jdbcType=NUMERIC},
      </if>
      <if test="promotionParentId != null" >
        PROMOTION_PARENT_ID = #{promotionParentId,jdbcType=NUMERIC},
      </if>
      <if test="origeinPrice != null" >
        ORIGEIN_PRICE = #{origeinPrice,jdbcType=NUMERIC},
      </if>
      <if test="actualPrice != null" >
        ACTUAL_PRICE = #{actualPrice,jdbcType=NUMERIC},
      </if>
      <if test="lineAmount != null" >
        LINE_AMOUNT = #{lineAmount,jdbcType=NUMERIC},
      </if>
    </set>
    where RECORD_ID = #{recordId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suneee.ep.base.model.ReceiptDetail" >
    update WTC_RECEIPT_DETAIL_T
    set RID = #{rid,jdbcType=VARCHAR},
      SKU_CODE = #{skuCode,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=NUMERIC},
      ITEM_STYLE = #{itemStyle,jdbcType=VARCHAR},
      RESON_CODE = #{resonCode,jdbcType=VARCHAR},
      REAL_QUANTITY = #{realQuantity,jdbcType=NUMERIC},
      STATUS = #{status,jdbcType=VARCHAR},
      ITEM_WHO_PAY = #{itemWhoPay,jdbcType=VARCHAR},
      POST_WHO_PAY = #{postWhoPay,jdbcType=VARCHAR},
      CONFIRM_CODE = #{confirmCode,jdbcType=VARCHAR},
      CONFIRM_RESON = #{confirmReson,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=NUMERIC},
      UNIT_ID = #{unitId,jdbcType=NUMERIC},
      PARENT_UNIT_ID = #{parentUnitId,jdbcType=NUMERIC},
      PROMOTION_PARENT_ID = #{promotionParentId,jdbcType=NUMERIC},
      ORIGEIN_PRICE = #{origeinPrice,jdbcType=NUMERIC},
      ACTUAL_PRICE = #{actualPrice,jdbcType=NUMERIC},
      LINE_AMOUNT = #{lineAmount,jdbcType=NUMERIC}
    where RECORD_ID = #{recordId,jdbcType=NUMERIC}
  </update>
</mapper>