<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suneee.ep.base.dao.RefundInfoMapper" >
  <resultMap id="BaseResultMap" type="com.suneee.ep.base.model.RefundInfo" >
    <id column="REFUND_ID" property="refundId" jdbcType="VARCHAR" />
    <result column="TID" property="tid" jdbcType="VARCHAR" />
    <result column="OID" property="oid" jdbcType="VARCHAR" />
    <result column="ALIPAY_NO" property="alipayNo" jdbcType="VARCHAR" />
    <result column="TOTAL_FEE" property="totalFee" jdbcType="VARCHAR" />
    <result column="BUYER_NICK" property="buyerNick" jdbcType="VARCHAR" />
    <result column="SELLER_NICK" property="sellerNick" jdbcType="VARCHAR" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="MODIFIED" property="modified" jdbcType="TIMESTAMP" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="GOOD_STATUS" property="goodStatus" jdbcType="VARCHAR" />
    <result column="HAS_GOOD_RETURN" property="hasGoodReturn" jdbcType="VARCHAR" />
    <result column="REFUND_FEE" property="refundFee" jdbcType="VARCHAR" />
    <result column="PAYMENT" property="payment" jdbcType="VARCHAR" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="REFUND_DESC" property="refundDesc" jdbcType="VARCHAR" />
    <result column="IID" property="iid" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="NUMERIC" />
    <result column="GOOD_RETURN_TIME" property="goodReturnTime" jdbcType="TIMESTAMP" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    <result column="SID" property="sid" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="SHIPPING_TYPE" property="shippingType" jdbcType="VARCHAR" />
    <result column="TIME_OUT" property="timeOut" jdbcType="TIMESTAMP" />
    <result column="LAST_SYN_TIME" property="lastSynTime" jdbcType="TIMESTAMP" />
    <result column="DEAL_STATUS" property="dealStatus" jdbcType="VARCHAR" />
    <result column="NOTIFY_PERSON" property="notifyPerson" jdbcType="VARCHAR" />
    <result column="NOTIFY_TIME" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="DEAL_PERSON" property="dealPerson" jdbcType="VARCHAR" />
    <result column="DEAL_TIME" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="NOTIFY_REMARK" property="notifyRemark" jdbcType="VARCHAR" />
    <result column="DEAL_REMARK" property="dealRemark" jdbcType="VARCHAR" />
    <result column="DEAL_RESULT" property="dealResult" jdbcType="VARCHAR" />
    <result column="LOCKED_FLAG" property="lockedFlag" jdbcType="VARCHAR" />
    <result column="LOCKED_PERSON" property="lockedPerson" jdbcType="VARCHAR" />
    <result column="LOCKED_TIME" property="lockedTime" jdbcType="TIMESTAMP" />
    <result column="MALL_NO" property="mallNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    REFUND_ID, TID, OID, ALIPAY_NO, TOTAL_FEE, BUYER_NICK, SELLER_NICK, CREATED, MODIFIED, 
    ORDER_STATUS, STATUS, GOOD_STATUS, HAS_GOOD_RETURN, REFUND_FEE, PAYMENT, REASON, 
    REFUND_DESC, IID, TITLE, PRICE, NUM, GOOD_RETURN_TIME, COMPANY_NAME, SID, ADDRESS, 
    SHIPPING_TYPE, TIME_OUT, LAST_SYN_TIME, DEAL_STATUS, NOTIFY_PERSON, NOTIFY_TIME, 
    DEAL_PERSON, DEAL_TIME, NOTIFY_REMARK, DEAL_REMARK, DEAL_RESULT, LOCKED_FLAG, LOCKED_PERSON, 
    LOCKED_TIME, MALL_NO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SHOP_REFUND_INFO_T
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SHOP_REFUND_INFO_T
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.suneee.ep.base.model.RefundInfo" >
    insert into SHOP_REFUND_INFO_T (REFUND_ID, TID, OID, 
      ALIPAY_NO, TOTAL_FEE, BUYER_NICK, 
      SELLER_NICK, CREATED, MODIFIED, 
      ORDER_STATUS, STATUS, GOOD_STATUS, 
      HAS_GOOD_RETURN, REFUND_FEE, PAYMENT, 
      REASON, REFUND_DESC, IID, 
      TITLE, PRICE, NUM, 
      GOOD_RETURN_TIME, COMPANY_NAME, SID, 
      ADDRESS, SHIPPING_TYPE, TIME_OUT, 
      LAST_SYN_TIME, DEAL_STATUS, NOTIFY_PERSON, 
      NOTIFY_TIME, DEAL_PERSON, DEAL_TIME, 
      NOTIFY_REMARK, DEAL_REMARK, DEAL_RESULT, 
      LOCKED_FLAG, LOCKED_PERSON, LOCKED_TIME, 
      MALL_NO)
    values (#{refundId,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}, #{oid,jdbcType=VARCHAR}, 
      #{alipayNo,jdbcType=VARCHAR}, #{totalFee,jdbcType=VARCHAR}, #{buyerNick,jdbcType=VARCHAR}, 
      #{sellerNick,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{goodStatus,jdbcType=VARCHAR}, 
      #{hasGoodReturn,jdbcType=VARCHAR}, #{refundFee,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{refundDesc,jdbcType=VARCHAR}, #{iid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{num,jdbcType=NUMERIC}, 
      #{goodReturnTime,jdbcType=TIMESTAMP}, #{companyName,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{shippingType,jdbcType=VARCHAR}, #{timeOut,jdbcType=TIMESTAMP}, 
      #{lastSynTime,jdbcType=TIMESTAMP}, #{dealStatus,jdbcType=VARCHAR}, #{notifyPerson,jdbcType=VARCHAR}, 
      #{notifyTime,jdbcType=TIMESTAMP}, #{dealPerson,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{notifyRemark,jdbcType=VARCHAR}, #{dealRemark,jdbcType=VARCHAR}, #{dealResult,jdbcType=VARCHAR}, 
      #{lockedFlag,jdbcType=VARCHAR}, #{lockedPerson,jdbcType=VARCHAR}, #{lockedTime,jdbcType=TIMESTAMP}, 
      #{mallNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suneee.ep.base.model.RefundInfo" >
    insert into SHOP_REFUND_INFO_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        REFUND_ID,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="oid != null" >
        OID,
      </if>
      <if test="alipayNo != null" >
        ALIPAY_NO,
      </if>
      <if test="totalFee != null" >
        TOTAL_FEE,
      </if>
      <if test="buyerNick != null" >
        BUYER_NICK,
      </if>
      <if test="sellerNick != null" >
        SELLER_NICK,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="modified != null" >
        MODIFIED,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="goodStatus != null" >
        GOOD_STATUS,
      </if>
      <if test="hasGoodReturn != null" >
        HAS_GOOD_RETURN,
      </if>
      <if test="refundFee != null" >
        REFUND_FEE,
      </if>
      <if test="payment != null" >
        PAYMENT,
      </if>
      <if test="reason != null" >
        REASON,
      </if>
      <if test="refundDesc != null" >
        REFUND_DESC,
      </if>
      <if test="iid != null" >
        IID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="goodReturnTime != null" >
        GOOD_RETURN_TIME,
      </if>
      <if test="companyName != null" >
        COMPANY_NAME,
      </if>
      <if test="sid != null" >
        SID,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="shippingType != null" >
        SHIPPING_TYPE,
      </if>
      <if test="timeOut != null" >
        TIME_OUT,
      </if>
      <if test="lastSynTime != null" >
        LAST_SYN_TIME,
      </if>
      <if test="dealStatus != null" >
        DEAL_STATUS,
      </if>
      <if test="notifyPerson != null" >
        NOTIFY_PERSON,
      </if>
      <if test="notifyTime != null" >
        NOTIFY_TIME,
      </if>
      <if test="dealPerson != null" >
        DEAL_PERSON,
      </if>
      <if test="dealTime != null" >
        DEAL_TIME,
      </if>
      <if test="notifyRemark != null" >
        NOTIFY_REMARK,
      </if>
      <if test="dealRemark != null" >
        DEAL_REMARK,
      </if>
      <if test="dealResult != null" >
        DEAL_RESULT,
      </if>
      <if test="lockedFlag != null" >
        LOCKED_FLAG,
      </if>
      <if test="lockedPerson != null" >
        LOCKED_PERSON,
      </if>
      <if test="lockedTime != null" >
        LOCKED_TIME,
      </if>
      <if test="mallNo != null" >
        MALL_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        #{refundId,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="alipayNo != null" >
        #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodStatus != null" >
        #{goodStatus,jdbcType=VARCHAR},
      </if>
      <if test="hasGoodReturn != null" >
        #{hasGoodReturn,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="refundDesc != null" >
        #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=NUMERIC},
      </if>
      <if test="goodReturnTime != null" >
        #{goodReturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="shippingType != null" >
        #{shippingType,jdbcType=VARCHAR},
      </if>
      <if test="timeOut != null" >
        #{timeOut,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSynTime != null" >
        #{lastSynTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealStatus != null" >
        #{dealStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyPerson != null" >
        #{notifyPerson,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealPerson != null" >
        #{dealPerson,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyRemark != null" >
        #{notifyRemark,jdbcType=VARCHAR},
      </if>
      <if test="dealRemark != null" >
        #{dealRemark,jdbcType=VARCHAR},
      </if>
      <if test="dealResult != null" >
        #{dealResult,jdbcType=VARCHAR},
      </if>
      <if test="lockedFlag != null" >
        #{lockedFlag,jdbcType=VARCHAR},
      </if>
      <if test="lockedPerson != null" >
        #{lockedPerson,jdbcType=VARCHAR},
      </if>
      <if test="lockedTime != null" >
        #{lockedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mallNo != null" >
        #{mallNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suneee.ep.base.model.RefundInfo" >
    update SHOP_REFUND_INFO_T
    <set >
      <if test="tid != null" >
        TID = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        OID = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="alipayNo != null" >
        ALIPAY_NO = #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        TOTAL_FEE = #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        BUYER_NICK = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        SELLER_NICK = #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        MODIFIED = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodStatus != null" >
        GOOD_STATUS = #{goodStatus,jdbcType=VARCHAR},
      </if>
      <if test="hasGoodReturn != null" >
        HAS_GOOD_RETURN = #{hasGoodReturn,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        REFUND_FEE = #{refundFee,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        PAYMENT = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="refundDesc != null" >
        REFUND_DESC = #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="iid != null" >
        IID = #{iid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=NUMERIC},
      </if>
      <if test="goodReturnTime != null" >
        GOOD_RETURN_TIME = #{goodReturnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null" >
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="shippingType != null" >
        SHIPPING_TYPE = #{shippingType,jdbcType=VARCHAR},
      </if>
      <if test="timeOut != null" >
        TIME_OUT = #{timeOut,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSynTime != null" >
        LAST_SYN_TIME = #{lastSynTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealStatus != null" >
        DEAL_STATUS = #{dealStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyPerson != null" >
        NOTIFY_PERSON = #{notifyPerson,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        NOTIFY_TIME = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealPerson != null" >
        DEAL_PERSON = #{dealPerson,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyRemark != null" >
        NOTIFY_REMARK = #{notifyRemark,jdbcType=VARCHAR},
      </if>
      <if test="dealRemark != null" >
        DEAL_REMARK = #{dealRemark,jdbcType=VARCHAR},
      </if>
      <if test="dealResult != null" >
        DEAL_RESULT = #{dealResult,jdbcType=VARCHAR},
      </if>
      <if test="lockedFlag != null" >
        LOCKED_FLAG = #{lockedFlag,jdbcType=VARCHAR},
      </if>
      <if test="lockedPerson != null" >
        LOCKED_PERSON = #{lockedPerson,jdbcType=VARCHAR},
      </if>
      <if test="lockedTime != null" >
        LOCKED_TIME = #{lockedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mallNo != null" >
        MALL_NO = #{mallNo,jdbcType=VARCHAR},
      </if>
    </set>
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suneee.ep.base.model.RefundInfo" >
    update SHOP_REFUND_INFO_T
    set TID = #{tid,jdbcType=VARCHAR},
      OID = #{oid,jdbcType=VARCHAR},
      ALIPAY_NO = #{alipayNo,jdbcType=VARCHAR},
      TOTAL_FEE = #{totalFee,jdbcType=VARCHAR},
      BUYER_NICK = #{buyerNick,jdbcType=VARCHAR},
      SELLER_NICK = #{sellerNick,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      MODIFIED = #{modified,jdbcType=TIMESTAMP},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      GOOD_STATUS = #{goodStatus,jdbcType=VARCHAR},
      HAS_GOOD_RETURN = #{hasGoodReturn,jdbcType=VARCHAR},
      REFUND_FEE = #{refundFee,jdbcType=VARCHAR},
      PAYMENT = #{payment,jdbcType=VARCHAR},
      REASON = #{reason,jdbcType=VARCHAR},
      REFUND_DESC = #{refundDesc,jdbcType=VARCHAR},
      IID = #{iid,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=NUMERIC},
      GOOD_RETURN_TIME = #{goodReturnTime,jdbcType=TIMESTAMP},
      COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SHIPPING_TYPE = #{shippingType,jdbcType=VARCHAR},
      TIME_OUT = #{timeOut,jdbcType=TIMESTAMP},
      LAST_SYN_TIME = #{lastSynTime,jdbcType=TIMESTAMP},
      DEAL_STATUS = #{dealStatus,jdbcType=VARCHAR},
      NOTIFY_PERSON = #{notifyPerson,jdbcType=VARCHAR},
      NOTIFY_TIME = #{notifyTime,jdbcType=TIMESTAMP},
      DEAL_PERSON = #{dealPerson,jdbcType=VARCHAR},
      DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      NOTIFY_REMARK = #{notifyRemark,jdbcType=VARCHAR},
      DEAL_REMARK = #{dealRemark,jdbcType=VARCHAR},
      DEAL_RESULT = #{dealResult,jdbcType=VARCHAR},
      LOCKED_FLAG = #{lockedFlag,jdbcType=VARCHAR},
      LOCKED_PERSON = #{lockedPerson,jdbcType=VARCHAR},
      LOCKED_TIME = #{lockedTime,jdbcType=TIMESTAMP},
      MALL_NO = #{mallNo,jdbcType=VARCHAR}
    where REFUND_ID = #{refundId,jdbcType=VARCHAR}
  </update>
</mapper>