<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suneee.ep.base.dao.ShTaskMapper" >
  <resultMap id="BaseResultMap" type="com.suneee.ep.base.model.ShTask" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="TID" property="tid" jdbcType="VARCHAR" />
    <result column="OID" property="oid" jdbcType="VARCHAR" />
    <result column="BUYER_NICK" property="buyerNick" jdbcType="VARCHAR" />
    <result column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="TASK_STATUS" property="taskStatus" jdbcType="VARCHAR" />
    <result column="EOS_FLAG" property="eosFlag" jdbcType="VARCHAR" />
    <result column="BUS_TYPE" property="busType" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="OP_TYPE" property="opType" jdbcType="VARCHAR" />
    <result column="SID" property="sid" jdbcType="VARCHAR" />
    <result column="RID" property="rid" jdbcType="VARCHAR" />
    <result column="TRADE_TIME" property="tradeTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MALL_NO" property="mallNo" jdbcType="VARCHAR" />
    <result column="EID" property="eid" jdbcType="NUMERIC" />
    <result column="EOS_CODE" property="eosCode" jdbcType="VARCHAR" />
    <result column="REFUND_ID" property="refundId" jdbcType="VARCHAR" />
    <result column="REFUND_FEE" property="refundFee" jdbcType="NUMERIC" />
    <result column="SELL_TOTAL_FEE" property="sellTotalFee" jdbcType="NUMERIC" />
    <result column="REFUND_POST_FEE" property="refundPostFee" jdbcType="NUMERIC" />
    <result column="POST_FEE" property="postFee" jdbcType="NUMERIC" />
    <result column="OPER_MODE" property="operMode" jdbcType="VARCHAR" />
    <result column="TRADE_STATUS" property="tradeStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TID, OID, BUYER_NICK, WID, TASK_STATUS, EOS_FLAG, BUS_TYPE, ORDER_TYPE, OP_TYPE, 
    SID, RID, TRADE_TIME, CREATE_TIME, MALL_NO, EID, EOS_CODE, REFUND_ID, REFUND_FEE, 
    SELL_TOTAL_FEE, REFUND_POST_FEE, POST_FEE, OPER_MODE, TRADE_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from WTC_SH_TASK_T
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from WTC_SH_TASK_T
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.suneee.ep.base.model.ShTask" >
    insert into WTC_SH_TASK_T (ID, TID, OID, 
      BUYER_NICK, WID, TASK_STATUS, 
      EOS_FLAG, BUS_TYPE, ORDER_TYPE, 
      OP_TYPE, SID, RID, TRADE_TIME, 
      CREATE_TIME, MALL_NO, EID, 
      EOS_CODE, REFUND_ID, REFUND_FEE, 
      SELL_TOTAL_FEE, REFUND_POST_FEE, POST_FEE, 
      OPER_MODE, TRADE_STATUS)
    values (#{id,jdbcType=NUMERIC}, #{tid,jdbcType=VARCHAR}, #{oid,jdbcType=VARCHAR}, 
      #{buyerNick,jdbcType=VARCHAR}, #{wid,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, 
      #{eosFlag,jdbcType=VARCHAR}, #{busType,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{opType,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR}, #{tradeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{mallNo,jdbcType=VARCHAR}, #{eid,jdbcType=NUMERIC}, 
      #{eosCode,jdbcType=VARCHAR}, #{refundId,jdbcType=VARCHAR}, #{refundFee,jdbcType=NUMERIC}, 
      #{sellTotalFee,jdbcType=NUMERIC}, #{refundPostFee,jdbcType=NUMERIC}, #{postFee,jdbcType=NUMERIC}, 
      #{operMode,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suneee.ep.base.model.ShTask" >
    insert into WTC_SH_TASK_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="oid != null" >
        OID,
      </if>
      <if test="buyerNick != null" >
        BUYER_NICK,
      </if>
      <if test="wid != null" >
        WID,
      </if>
      <if test="taskStatus != null" >
        TASK_STATUS,
      </if>
      <if test="eosFlag != null" >
        EOS_FLAG,
      </if>
      <if test="busType != null" >
        BUS_TYPE,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="opType != null" >
        OP_TYPE,
      </if>
      <if test="sid != null" >
        SID,
      </if>
      <if test="rid != null" >
        RID,
      </if>
      <if test="tradeTime != null" >
        TRADE_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="mallNo != null" >
        MALL_NO,
      </if>
      <if test="eid != null" >
        EID,
      </if>
      <if test="eosCode != null" >
        EOS_CODE,
      </if>
      <if test="refundId != null" >
        REFUND_ID,
      </if>
      <if test="refundFee != null" >
        REFUND_FEE,
      </if>
      <if test="sellTotalFee != null" >
        SELL_TOTAL_FEE,
      </if>
      <if test="refundPostFee != null" >
        REFUND_POST_FEE,
      </if>
      <if test="postFee != null" >
        POST_FEE,
      </if>
      <if test="operMode != null" >
        OPER_MODE,
      </if>
      <if test="tradeStatus != null" >
        TRADE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="eosFlag != null" >
        #{eosFlag,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mallNo != null" >
        #{mallNo,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=NUMERIC},
      </if>
      <if test="eosCode != null" >
        #{eosCode,jdbcType=VARCHAR},
      </if>
      <if test="refundId != null" >
        #{refundId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=NUMERIC},
      </if>
      <if test="sellTotalFee != null" >
        #{sellTotalFee,jdbcType=NUMERIC},
      </if>
      <if test="refundPostFee != null" >
        #{refundPostFee,jdbcType=NUMERIC},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=NUMERIC},
      </if>
      <if test="operMode != null" >
        #{operMode,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suneee.ep.base.model.ShTask" >
    update WTC_SH_TASK_T
    <set >
      <if test="tid != null" >
        TID = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        OID = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        BUYER_NICK = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        WID = #{wid,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        TASK_STATUS = #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="eosFlag != null" >
        EOS_FLAG = #{eosFlag,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        BUS_TYPE = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        RID = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        TRADE_TIME = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mallNo != null" >
        MALL_NO = #{mallNo,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        EID = #{eid,jdbcType=NUMERIC},
      </if>
      <if test="eosCode != null" >
        EOS_CODE = #{eosCode,jdbcType=VARCHAR},
      </if>
      <if test="refundId != null" >
        REFUND_ID = #{refundId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null" >
        REFUND_FEE = #{refundFee,jdbcType=NUMERIC},
      </if>
      <if test="sellTotalFee != null" >
        SELL_TOTAL_FEE = #{sellTotalFee,jdbcType=NUMERIC},
      </if>
      <if test="refundPostFee != null" >
        REFUND_POST_FEE = #{refundPostFee,jdbcType=NUMERIC},
      </if>
      <if test="postFee != null" >
        POST_FEE = #{postFee,jdbcType=NUMERIC},
      </if>
      <if test="operMode != null" >
        OPER_MODE = #{operMode,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        TRADE_STATUS = #{tradeStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suneee.ep.base.model.ShTask" >
    update WTC_SH_TASK_T
    set TID = #{tid,jdbcType=VARCHAR},
      OID = #{oid,jdbcType=VARCHAR},
      BUYER_NICK = #{buyerNick,jdbcType=VARCHAR},
      WID = #{wid,jdbcType=VARCHAR},
      TASK_STATUS = #{taskStatus,jdbcType=VARCHAR},
      EOS_FLAG = #{eosFlag,jdbcType=VARCHAR},
      BUS_TYPE = #{busType,jdbcType=VARCHAR},
      ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      OP_TYPE = #{opType,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      RID = #{rid,jdbcType=VARCHAR},
      TRADE_TIME = #{tradeTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MALL_NO = #{mallNo,jdbcType=VARCHAR},
      EID = #{eid,jdbcType=NUMERIC},
      EOS_CODE = #{eosCode,jdbcType=VARCHAR},
      REFUND_ID = #{refundId,jdbcType=VARCHAR},
      REFUND_FEE = #{refundFee,jdbcType=NUMERIC},
      SELL_TOTAL_FEE = #{sellTotalFee,jdbcType=NUMERIC},
      REFUND_POST_FEE = #{refundPostFee,jdbcType=NUMERIC},
      POST_FEE = #{postFee,jdbcType=NUMERIC},
      OPER_MODE = #{operMode,jdbcType=VARCHAR},
      TRADE_STATUS = #{tradeStatus,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>